# WEB SCRAPING – ASSIGNMENT 2

<b>Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:</b>        
<b>1. First get the webpage https://www.naukri.com/           
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.  
3. Then click the search button.          
4. Then scrape the data for the first 10 jobs results you get.      
5. Finally create a dataframe of the scraped data.     
Note: All of the above steps have to be done in code. No step is to be done manually.</b>

In [1]:
import selenium
import pandas as pd
from selenium import webdriver

import warnings
warnings.filterwarnings('ignore')

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
# Lets first connect to the driver

driver = webdriver.Chrome(r"C:\chromedriver.exe")

In [3]:
# Opening the naukri page on automated chrome browser

driver.get("https://www.naukri.com/")

In [4]:
# Entering “Data Analyst” in “Skill,Designations,Companies” field

designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [5]:
# Entering “Bangalore” in “Location” field

location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [6]:
# Clicking the search button

search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [7]:
# Creating empty lists for scraping data

job_title = []
job_location = []
company_name = []
experience_required = []

In [8]:
# Scraping Job title from the given page

title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

    
# Scraping Job Location from the given page

location_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)


# Scraping Company Name from the given page

company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
    
# Scraping Job Experience from the given page

experience_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [9]:
# Printing the length of the scraped data

print(len(job_title), len(job_location), len(company_name), len(experience_required))

10 10 10 10

In [10]:
# Creating the dataframe from above data

df = pd.DataFrame({'Job_title':job_title, 'Job_location':job_location, 'Company_name':company_name, 'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Senior Data Analyst,"Bangalore/Bengaluru, Chennai",Latentview,3-6 Yrs
1,Data Analyst,"Bangalore/Bengaluru, Mangaluru/Mangalore, Pune...","Coresight Research, Inc.",4-8 Yrs
2,Data Analyst,Bangalore/Bengaluru,Varite,2-5 Yrs
3,Data Analyst - CRM Platform,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Artech infosystem,1-6 Yrs
4,Data Analyst,Bangalore/Bengaluru,Jar,0-4 Yrs
5,Hiring For Data Analyst (DA)/ Team Lead (TL) -...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,3-8 Yrs
6,Call For Clinical Data Analyst - Hyd/Bangalore...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,6-9 Yrs
7,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,5-10 Yrs
8,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,3-7 Yrs
9,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs

<b>Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:</b>      
<b>1. First get the webpage https://www.naukri.com/          
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.  
3. Then click the search button.           
4. Then scrape the data for the first 10 jobs results you get.           
5. Finally create a dataframe of the scraped data.          
Note: All of the above steps have to be done in code. No step is to be done manually.</b>

In [11]:
# Lets first connect to the driver

driver = webdriver.Chrome(r"C:\chromedriver.exe")

In [12]:
# Opening the webpage on automated chrome browser

driver.get("https://www.naukri.com/")

In [13]:
#Entering “Data Scientist” in “Skill,Designations,Companies” field

designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [14]:
# Entering “Bangalore” in “Location” field

location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [15]:
# Clicking the search button

search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [16]:
# Creating empty lists for scraping data

job_title = []
job_location = []
company_name = []
experience_required = []

In [17]:
# Scraping Job title from the given page

title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

    
# Scraping Job Location from the given page

location_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)


# Scraping Company Name from the given page

company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
    
# Scraping Job Experience from the given page

experience_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [18]:
# Printing the length of the scraped data

print(len(job_title), len(job_location), len(company_name), len(experience_required))

10 10 10 10

In [19]:
# Creating the dataframe from above data

df = pd.DataFrame({'Job_title':job_title, 'Job_location':job_location, 'Company_name':company_name, 'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
1,Data Science Manager,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,4-7 Yrs
2,"Mongodb Database Administrator, Maria DB or Ca...","Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Mphasis,9-14 Yrs
3,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech,5-9 Yrs
4,Data Scientist,"Bangalore/Bengaluru, New Delhi, Pune, Gurgaon/...",ZS Associates,5-8 Yrs
5,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Tech Mahindra,10-14 Yrs
6,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group,5-10 Yrs
7,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM,4-8 Yrs
8,Data Scientist - Computer Vision,Bangalore/Bengaluru,Walmart,3-7 Yrs
9,Senior Data Scientist,"Bangalore/Bengaluru, Pune, Chennai",Wipro,8-13 Yrs

<b>Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:</b>
<b>1. first get the webpage https://www.naukri.com/        
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.          
3. Then click the search button.           
4. Then apply the location filter and salary filter by checking the respective boxes          
5. Then scrape the data for the first 10 jobs results you get.        
6. Finally create a dataframe of the scraped data.          
Note: All of the above steps have to be done in code. No step is to be done manually.</b>

In [20]:
# Lets first connect to the driver

driver = webdriver.Chrome(r"C:\chromedriver.exe")

In [21]:
# Opening the webpage on automated chrome browser

driver.get("https://www.naukri.com/")

In [22]:
# Entering “Data Scientist” in “Skill,Designations,Companies” field

designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [23]:
# Clicking the search button

search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [24]:
# Creating empty lists for scraping data

job_title = []
job_location = []
company_name = []
experience_required = []

In [25]:
# Finding the delhi/ncr check box

location = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[3]/label/p")
location.click()

In [26]:
# Finding the salary check box

salary = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[2]/div[2]/div[1]/label/p")
salary.click()

In [27]:
# Scraping Job title from the given page

title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

    
# Scraping Job Location from the given page

location_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)


# Scraping Company Name from the given page

company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    
    
# Scraping Job Experience from the given page

experience_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience = i.text
    experience_required.append(experience)

In [28]:
# Printing the length of the scraped data

print(len(job_title), len(job_location), len(company_name), len(experience_required))

10 10 10 10

In [29]:
# Creating the dataframe from above data

df = pd.DataFrame({'Job_title':job_title, 'Job_location':job_location, 'Company_name':company_name, 'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-4 Yrs
1,Data Science Manager,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,4-7 Yrs
2,"Mongodb Database Administrator, Maria DB or Ca...","Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Mphasis,9-14 Yrs
3,Assistant Manager - Data Science,"Mumbai, Pune, Bangalore/Bengaluru",CitiusTech,5-9 Yrs
4,Data Scientist,"New Delhi, Pune, Gurgaon/Gurugram, Bangalore/B...",ZS Associates,5-8 Yrs
5,Senior Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,5-10 Yrs
6,Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Tech Mahindra,10-14 Yrs
7,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM,4-8 Yrs
8,Data Scientist - Computer Vision,Bangalore/Bengaluru,Walmart,3-7 Yrs
9,Senior Data Scientist,"Pune, Chennai, Bangalore/Bengaluru",Wipro,8-13 Yrs

<b>Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:       
<b>1. Brand       
2. Product Description         
3. Price          
The attributes which you have to scrape is ticked marked in the below image</b>

<b>To scrape the data you have to go through following steps:</b>

<b>1. Go to Flipkart webpage by url : https://www.flipkart.com/</b>        
<b>2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon</b>        
<b>3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.</b>     
<b>4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.</b>           
<b>5. Now scrape data from this page as usual</b>           
<b>6. Repeat this until you get data for 100 sunglasses.</b>

<b>Note: That all of the above steps have to be done by coding only and not manually.</b>

In [30]:
# Lets first connect to the driver

driver = webdriver.Chrome(r"C:\chromedriver.exe")

In [31]:
# Opening the webpage on automated chrome browser

driver.get("https://www.flipkart.com/")

In [32]:
# Entering “Sunglasses” in “Products/Brands and More"

product = driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('Sunglasses')

In [33]:
# Clicking the search button

search = driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search.click()

In [34]:
# Creating empty lists for scraping data

brand = []
product_description =[]
price = []
discount = []

In [35]:
# Extracting all the tags

start = 0
end = 3

for page in range(start,end):
    brand_name = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_name:
        brand.append(i.text)
    
    product_desc = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_desc:
        product_description.append(i.text)
    
    product_price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in product_price:
        price.append(i.text)
    
    product_discount = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in product_discount:
        discount.append(i.text)
    
    
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')  # to scrap data from next pages
    next_button.click()
    time.sleep(3)

In [36]:
# Printing the length of the scraped data

print(len(brand), len(product_description), len(price), len(discount))

120 120 120 120

In [37]:
# Creating dataframe for the first 100 sunglasses 

df = pd.DataFrame()
df['Brand'] = brand[0:100]
df['Product Description'] = product_description[0:100]
df['Price'] = price[0:100]
df['Discount'] = discount[0:100]
df

,Brand,Product Description,Price,Discount
0,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (55),₹649,74% off
1,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹399,80% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
3,NuVew,UV Protection Aviator Sunglasses (57),₹198,73% off
4,LIZA ANGEL,UV Protection Wayfarer Sunglasses (Free Size),₹199,50% off
...,...,...,...,...
95,VINCENT CHASE,"by Lenskart Polarized, UV Protection Retro Squ...",₹999,50% off
96,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹599,70% off
97,SHAAH COLLECTIONS,UV Protection Aviator Sunglasses (54),₹179,82% off
98,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹264,89% off
99,VINCENT CHASE,UV Protection Round Sunglasses (47),₹649,67% off

<b>Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:        
<b>1. First get the webpage https://www.flipkart.com/</b>          
<b>2. Enter “iphone 11” in “Search” field.</b>        
<b>3. Then click the search button.</b>

<b>You will reach to the below shown webpage.</b>

<b>As shown in the above page you have to scrape the tick marked attributes.These are:</b>         
<b>1. Rating</b>          
<b>2. Review summary</b>              
<b>3. Full review</b>         
<b>4. You have to scrape this data for first 100 reviews.</b>

<b>Note: All the steps required during scraping should be done through code only and not manually.</b>

In [38]:
# Lets first connect to the driver

driver = webdriver.Chrome(r"C:\chromedriver.exe")

In [39]:
# Opening the webpage on automated chrome browser

driver.get("https://www.flipkart.com/")

In [40]:
# Entering “iphone 11” in “Products/Brands and More"

product = driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('iphone 11')

In [41]:
# Clicking the search button

search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [42]:
# Clicking the first iphone 11

first_iphone11 = driver.find_element(By.XPATH,'//div[@class="_4rR01T"]')
first_iphone11.click()

In [43]:
# Creating empty lists for scraping data

rating = []
review_summary = []
full_review = []

In [46]:
# Extracting all the tags

start = 0
end = 10

for page in range(start,end):
    product_rating = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in product_rating:
        rating.append(i.text)
    
    product_review_summary = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in product_review_summary:
        review_summary.append(i.text)
    
    product_full_review = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in product_full_review:
        full_review.append(i.text)
    
     
    next_button = driver.find_element(By.CLASS_NAME,"ge-49M")  # to scrap data from next pages
    next_button.click()
    time.sleep(3)

In [47]:
# Creating dataframe for the first 100 iphone 11

df = pd.DataFrame()
df['Rating'] = rating[0:100]
df['Review Summary'] = review_summary[0:100]
df['Full review'] = full_review[0:100]
df

,Rating,Review Summary,Full review
0,5,Perfect product!,After using 3 years mobile review. Excellent &...
1,5,Terrific,I am using the phone for last 5 years and foun...
2,5,Simply awesome,Really satisfied with the Product I received.....
3,4,Don't waste your money,Very bad mic within 2 days my phone mic is not...
4,5,Good quality product,impressively Nice......\nOne of the greatest i...
...,...,...,...
95,5,Mind-blowing purchase,Fantastic and prompt delivery.
96,5,Perfect product!,After using 3 years mobile review. Excellent &...
97,5,Terrific,I am using the phone for last 5 years and foun...
98,5,Simply awesome,Really satisfied with the Product I received.....
99,5,Don't waste your money,Very bad mic within 2 days my phone mic is not...

<b>Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:</b>         
<b>1. Brand</b>          
<b>2. Product Description</b>        
<b>3. Price</b>

<b>As shown in the below image, you have to scrape the tick marked attributes.</b>

<b>Note: All the steps required during scraping should be done through code only and not manually</b>

In [48]:
# Lets first connect to the driver

driver = webdriver.Chrome(r"C:\chromedriver.exe")

In [49]:
# Opening the webpage on automated chrome browser

driver.get("https://www.flipkart.com/")

In [50]:
# Entering “sneakers” in the search field

product = driver.find_element(By.CLASS_NAME,'_3704LK')
product.send_keys('sneakers')

In [51]:
# Clicking the search button

search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [52]:
# Creating empty lists for scraping data

brand = []
product_description = []
price = []
discount = []

In [53]:
# Extracting all the tags

start = 0
end = 3

for page in range(start,end):
    product_brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in product_brand:
        brand.append(i.text)
    
    product_desc = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_desc:
        product_description.append(i.text)
    
    product_price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in product_price:
        price.append(i.text)
    
    product_discount = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in product_discount:
        discount.append(i.text)     
    
    
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')  # to scrap data from next pages
    next_button.click()
    time.sleep(3)

In [54]:
# Creating dataframe for the first 100 sneakers

df = pd.DataFrame()
df['Brand'] = brand[0:100]
df['Product Description'] = product_description[0:100]
df['Price'] = price[0:100]
df['Discount'] = discount[0:100]
df

,Brand,Product Description,Price,Discount
0,RapidBox,Sneakers For Men,₹590,40% off
1,TR,Sneakers For Men,₹338,77% off
2,Labbin,Sneakers For Men,₹499,50% off
3,BRUTON,Modern Trendy Shoes Sneakers For Men,₹470,63% off
4,BRUTON,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹259,56% off
...,...,...,...,...
95,SIBROZ,Original Luxury Branded Fashionable Men's Casu...,₹449,61% off
96,Magnolia,Sneakers For Men,₹389,42% off
97,Deals4you,denim fabric shoes men and boys canvas sneaker...,₹289,50% off
98,World Wear Footwear,Stylish & Trending Outdoor Walking Comfortable...,₹499,63% off
99,3SIX5,Sneakers For Men,₹360,75% off

<b>Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.</b>

<b>And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.</b>

<b>Note: Applying the filter and scraping the data, everything should be done through code only and there
should not be any manual step.</b>

In [55]:
# Lets first connect to the driver

driver = webdriver.Chrome(r"C:\chromedriver.exe")

In [56]:
# Opening the webpage on automated chrome browser

driver.get("https://www.myntra.com/shoes")

In [57]:
# Setting the second Price filter by clicking it

price_filter = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
price_filter.click()

In [58]:
# Apply the Color filter to “Black”  by clicking it

color_filter = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
color_filter.click()

In [59]:
# Creating empty lists for scraping data

brand = []
shoe_description = []
price = []

In [60]:
# Extracting all the tags

start = 0
end = 4

for page in range(start,end):
    product_brand = driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in product_brand:
        brand.append(i.text)
    
    shoe_desc = driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in shoe_desc:
        shoe_description.append(i.text)
    
    product_price = driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in product_price:
        price.append(i.text)
    

    next_button = driver.find_element(By.XPATH,'//li[@class="pagination-next"]')  # to scrap data from next pages
    next_button.click()
    time.sleep(3)

In [61]:
# Creating dataframe for the first 100 shoes

df = pd.DataFrame()
df['Brand'] = brand[0:100]
df['Shoe Description'] = shoe_description[0:100]
df['Price'] = price[0:100]
df

             Brand                Shoe Description                      Price
0     UNDER ARMOUR  Men HOVR SonicSE Running Shoes  Rs. 8499Rs. 9999(15% OFF)
1     UNDER ARMOUR  Men ChargedEscape 3 BL Running  Rs. 7199Rs. 8999(20% OFF)
2     UNDER ARMOUR      Unisex 3ZER0 IV Basketball  Rs. 7649Rs. 8999(15% OFF)
3         Skechers       Men GO WALK - TERRA Shoes  Rs. 8499Rs. 9999(15% OFF)
4             Puma     Men Fuse 2.0 Training Shoes  Rs. 6399Rs. 7999(20% OFF)
..             ...                             ...                        ...
95        Skechers                Men Sports Shoes                   Rs. 8499
96            ALDO          Textured Block Sandals                   Rs. 7999
97  Tommy Hilfiger            Men Leather Sneakers  Rs. 6509Rs. 9299(30% OFF)
98            ALDO  Women Leather Horsebit Loafers                  Rs. 11999
99         fitflop    Embellished PU Comfort Pumps                   Rs. 7499

[100 rows x 3 columns]

<b>Q8: Go to webpage https://www.amazon.in/             
Enter “Laptop” in the search field and then click the search icon.           
Then set CPU Type filter to “Intel Core i7” as shown in the below image:</b>

<b>After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:</b>      
<b>1. Title</b>           
<b>2. Ratings</b>          
<b>3. Price</b>

<b>Note: All the steps required during scraping should be done through code only and not manually.</b>

In [62]:
# Lets first connect to the driver

driver = webdriver.Chrome(r"C:\chromedriver.exe")

In [63]:
# Opening the webpage on automated chrome browser

driver.get("https://www.amazon.in/")

In [64]:
# Entering “Laptop” in the search field

product = driver.find_element(By.XPATH,"//div[@class='nav-search-field ']/input")
product.send_keys('laptop')

In [65]:
# Clicking the search button

search = driver.find_element(By.XPATH,"//div[@class='nav-search-submit nav-sprite']")
search.click()

In [66]:
# Setting the CPU Type filter Intel Core i7 by clicking it

CPU_filter = driver.find_element(By.XPATH,'//span[@class="a-size-base a-color-base"]')
CPU_filter.click()

In [67]:
# Creating empty lists for scraping data

title = []
ratings = []
price = []

In [68]:
# Extracting all the tags

product_title = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in product_title:
    title.append(i.text)
    
product_ratings = driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]/span')
for i in product_ratings:
    ratings.append(i.get_attribute("aria-label"))
    
product_price = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in product_price:
    price.append(i.text) 
        
time.sleep(3)

In [69]:
# Extracting rating from the unorganised ratings tag

rating = []
for i in range(0,len(ratings)):
    if i == 0 or  i/2 == i//2:
        rating.append(ratings[i][0:3])

In [70]:
# Creating dataframe for the first 10 laptops

df = pd.DataFrame()
df['Title'] = title[0:10]
df['Ratings'] = rating[0:10]
df['Price'] = price[0:10]
df

                                               Title Ratings   Price
0  Acer Extensa 15 Lightweight Laptop 11th Gen In...     4.2  38,990
1  Dell Vostro 3420 Laptop - Intel i3-1115G4, 8GB...     4.1  42,990
2  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, A...     4.0  37,999
3  (Renewed) Lenovo Thinkpad E480 7th Gen Intel C...     4.0  32,990
4  ASUS Vivobook 15, 15.6" (39.62 cm) FHD, AMD Du...     5.0  40,490
5  HP Chromebook 14a,Intel Celeron N4500 14inch(3...     3.6  19,599
6  Dell Inspiron 15 (3501) 15.6 inches FHD Displa...     3.8  34,990
7  (Renewed) Dell Latitude E5470 Intel Core i5 6t...     3.8  21,990
8  Lenovo IdeaPad Slim 1 Intel Celeron N4020 4th ...     3.8  41,999
9  Lenovo IdeaPad Slim 3 Intel Celeron N4020 4th ...     4.2  21,550

<b>Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.</b>

<b>This task will be done in following steps:</b>         
<b>1. First get the webpage https://www.ambitionbox.com/</b>           
<b>2. Click on the Job option as shown in the image</b>         
<b>3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.</b>

In [79]:
# As suggested, I have skipped this question as there is some technical issue of the site.

<b>Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.</b>

<b>The above task will be, done as shown in the below steps:</b>          
<b>1. First get the webpage https://www.ambitionbox.com/</b>         
<b>2. Click on the salaries option as shown in the image.</b>         
<b>3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.</b>          
<b>You have to scrape the data ticked in the above image.</b>      
<b>4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.</b>          
<b>5. Store the data in a dataframe.</b>

<b>Note: All the steps required during scraping should be done through code only and not manually.</b>

In [71]:
# Lets first connect to the driver

driver = webdriver.Chrome(r"C:\chromedriver.exe")

In [72]:
# Opening the webpage on automated chrome browser

driver.get("https://www.ambitionbox.com/")

In [73]:
# Clicking on the Salary webpage

salaries = driver.find_element(By.XPATH,'//ul[@class="nav-list-wrapper"]/li[3]')
salaries.click()

In [74]:
# Getting the url of the required webpage

driver.get("https://www.ambitionbox.com/salaries?campaign=desktop_nav")

In [75]:
# Creating empty lists for scraping data

company_name = []
salary_record = []
average_salary = []
min_salary = []
max_salary = []
exp = []

In [76]:
# Extracting all the tags

company = driver.find_elements(By.XPATH,"//div[@class='company-info']")
for i in company:
    company_name.append(i.text.split("\n")[0])                                                    #company name
    salary_record.append(i.text.replace("based on", " ").replace("salaries","").split("\n")[1:2]) #Total Salary Record
    exp.append(i.text.replace("yrs exp","").replace("yr exp","").split("\n")[-1])                 # Experience required
    

avg_salary = driver.find_elements(By.XPATH,"//div[@class='average-indicator-wrapper']")
for i in avg_salary:
    average_salary.append(i.text.replace("₹","").replace("L",""))            # average salary


salary = driver.find_elements(By.XPATH,"//div[@class='salary-values']")
for i in salary:
    min_salary.append(i.text.replace("₹","").replace("L","").split("\n")[0])  # minimum salary
    max_salary.append(i.text.replace("₹","").replace("L","").split("\n")[1])  # maximum salary

In [77]:
# Creating dataframe for the first 10 companies

df = pd.DataFrame()
df['Company_Name'] = company_name[0:10]
df['Total_Salary_Record'] = salary_record[0:10]
df['Experience_Required'] = exp[0:10]
df['Average_Salary_L'] = average_salary[0:10]
df['Minimum_Salary_L'] = min_salary
df['Maximum_Salary_L'] = max_salary
df

,Company_Name,Total_Salary_Record,Experience_Required,Average_Salary_L,Minimum_Salary_L,Maximum_Salary_L
0,Google,[Software Engineer Salary],1-4 erience (based on 63 salaries),34.9,12.7,97.0
1,Microsoft Corporation,[Software Engineer Salary],1-4 erience (based on 344 salaries),23.9,13.2,50.0
2,Goldman Sachs,[Software Engineer Salary],1-2 erience (based on 37 salaries),22.7,12.0,34.0
3,Arista Networks,[Software Engineer Salary],1-4 erience (based on 52 salaries),22.1,5.0,38.0
4,Tekion,[Software Engineer Salary],2-4 erience (based on 52 salaries),21.9,11.7,38.0
5,Amazon,[Software Engineer Salary],1-4 erience (based on 147 salaries),21.2,8.7,45.0
6,Servicenow Software Development India,[Software Engineer Salary],2-4 erience (based on 82 salaries),21.1,14.0,32.0
7,Walmart,[Software Engineer Salary],1-4 erience (based on 112 salaries),20.3,12.0,32.5
8,PayPal,[Software Engineer Salary],1-2 erience (based on 31 salaries),19.9,12.0,31.0
9,Arcesium,[Software Engineer Salary],1-2 erience (based on 71 salaries),19.4,12.0,34.0