# WEB SCRAPING – ASSIGNMENT 4

* Read all the problem statements, notes carefully and scrape the required data using any web scraping tool of
your choice.

* You have to handle commonly occurring EXCEPTIONS by using exception handling programing. To get
information about selenium Exceptions. You may visit following links:
1. https://selenium-python.readthedocs.io/api.html
2. https://www.guru99.com/exception-handling-selenium.html
3. https://stackoverflow.com/questions/38022658/selenium-python-handling-no-such-elementexception/38023345

<b>1. Scrape the details of most viewed videos on YouTube from Wikipedia.    
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos      
You need to find following details:       
A) Rank     
B) Name       
C) Artist      
D) Upload date      
E) Views</b>

In [1]:
import selenium
import pandas as pd
from selenium import webdriver

import warnings
warnings.filterwarnings('ignore')

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
# Let's first connect to the driver

driver = webdriver.Chrome(r"C:\Users\safiy\Downloads\chromedriver_win32 (2)\chromedriver.exe")
driver.maximize_window()
time.sleep(2)

In [3]:
# Opening Youtube on automated chrome browser

driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [4]:
# Creating empty lists

Rank = []
Name = []
Artist = []
Upload_date = []
Views = []

In [5]:
# Scraping Rank

Rank_tag = driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")

for i in Rank_tag:
    Rank.append(i.text)

In [6]:
# Scraping Name

Name_tag = driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")

for i in Name_tag:
    Name.append(i.text.split('[')[0])

In [7]:
# Scraping Artist

Artist_tag = driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")

for i in Artist_tag:
    Artist.append(i.text)

In [8]:
# Scraping Upload date

Upload_date_tag = driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")

for i in Upload_date_tag:
    Upload_date.append(i.text)

In [9]:
# Scraping Views

Views_tag = driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")

for i in Views_tag:
    Views.append(i.text)

In [10]:
# Creating dataframe for scraped data

Youtube = pd.DataFrame()
Youtube['Rank'] = Rank
Youtube['Name'] = Name
Youtube['Artist'] = Artist
Youtube['Upload date'] = Upload_date
Youtube['Views'] = Views
Youtube

,Rank,Name,Artist,Upload date,Views
0,1.,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.62
1,2.,"""Despacito""",Luis Fonsi,"January 12, 2017",8.00
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids,"October 8, 2016",6.51
3,4.,"""Shape of You""",Ed Sheeran,"January 30, 2017",5.84
4,5.,"""Bath Song""",Cocomelon – Nursery Rhymes,"May 2, 2018",5.69
5,6.,"""See You Again""",Wiz Khalifa,"April 6, 2015",5.68
6,7.,"""Phonics Song with Two Words""",ChuChu TV,"March 6, 2014",4.98
7,8.,"""Uptown Funk""",Mark Ronson,"November 19, 2014",4.74
8,9.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",4.70
9,10.,"""Gangnam Style""",Psy,"July 15, 2012",4.59
10,11.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,"May 24, 2018",4.53
11,12.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.51
12,13.,"""Dame Tu Cosita""",El Chombo,"April 5, 2018",4.12
13,14.,"""Sugar""",Maroon 5,"January 14, 2015",3.78
14,15.,"""Roar""",Katy Perry,"September 5, 2013",3.68
15,16.,"""Counting Stars""",OneRepublic,"May 31, 2013",3.67
16,17.,"""Sorry""",Justin Bieber,"October 22, 2015",3.60
17,18.,"""Axel F""",Crazy Frog,"June 16, 2009",3.57
18,18.,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.51
19,20.,"""Baa Baa Black Sheep""",Cocomelon – Nursery Rhymes,"June 25, 2018",3.41
20,21.,"""Dark Horse""",Katy Perry,"February 20, 2014",3.38
21,22.,"""Faded""",Alan Walker,"December 3, 2015",3.36
22,23.,"""Girls Like You""",Maroon 5,"May 31, 2018",3.34
23,24.,"""Let Her Go""",Passenger,"July 25, 2012",3.33
24,25.,"""Bailando""",Enrique Iglesias,"April 11, 2014",3.29
25,26.,"""Perfect""",Ed Sheeran,"November 9, 2017",3.29
26,27.,"""Lean On""",Major Lazer,"March 22, 2015",3.28
27,28.,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.28
28,29.,"""Shake It Off""",Taylor Swift,"August 18, 2014",3.22
29,30.,"""Humpty the train on a fruits ride""",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.20

In [11]:
driver.close()

<b>2. Scrape the details team India’s international fixtures from bcci.tv.     
Url = https://www.bcci.tv/.        
You need to find following details:         
A) Match title (I.e. 1st ODI)          
B) Series         
C) Place         
D) Date         
E) Time        
Note: - From bcci.tv home page you have reach to the international fixture page through code.</b>

In [12]:
# Let's first connect to the driver

driver = webdriver.Chrome(r"C:\Users\safiy\Downloads\chromedriver_win32 (2)\chromedriver.exe")
driver.maximize_window()
time.sleep(2)

In [13]:
# Opening bcci website on automated chrome browser

driver.get("https://www.bcci.tv/")

In [14]:
# Clicking on International tab

driver.find_element(By.XPATH,"//li[@class='nav-item']").click()

In [16]:
# Clicking on More Fixtures

driver.find_element(By.XPATH,"//div[@class='col-lg-12 col-md-12 col-sm-12']").click()

In [17]:
# Creating empty lists

Match_title = []
Series = []
Place = []
Date = []
Time = []

In [18]:
# Scraping Match title

Match_title_tag = driver.find_elements(By.XPATH,"//span[@class='matchOrderText ng-binding ng-scope']")

for i in Match_title_tag:
    Match_title.append(i.text[:-1])

In [19]:
# Scraping Series

Series_tag = driver.find_elements(By.XPATH,"//span[@class='ng-binding']")

for i in Series_tag:
    Series.append(i.text)

In [20]:
# Scraping Place

Place_tag = driver.find_elements(By.XPATH,"//span[@class='ng-binding ng-scope']")

for i in Place_tag:
    Place.append(i.text[:-1])

In [21]:
# Scraping Date

Date_tag = driver.find_elements(By.XPATH,"//h5[@class='ng-binding']")

for i in Date_tag:
    Date.append(i.text)

In [22]:
# Scraping Time

Time_tag = driver.find_elements(By.XPATH,"//h5[@class='text-right ng-binding']")

for i in Time_tag:
    Time.append(i.text)

In [23]:
# Creating dataframe for scraped data

BCCI = pd.DataFrame()
BCCI['Match title'] = Match_title
BCCI['Series'] = Series
BCCI['Place'] = Place
BCCI['Date'] = Date
BCCI['Time'] = Time
BCCI

,Match title,Series,Place,Date,Time
0,6th T20I,ICC MENS T20 WORLD CUP 2022,Adelaide Oval,10 NOV 2022,1:30 PM IST
1,1st T20I,INDIA TOUR OF NEW ZEALAND T20 SERIES 2022-23,Sky Stadium,18 NOV 2022,12:00 PM IST
2,2nd T20I,INDIA TOUR OF NEW ZEALAND T20 SERIES 2022-23,Bay Oval,20 NOV 2022,12:00 PM IST
3,3rd T20I,INDIA TOUR OF NEW ZEALAND T20 SERIES 2022-23,Mclean Park,22 NOV 2022,12:00 PM IST
4,1st ODI,INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23,Eden Park,25 NOV 2022,7:00 AM IST
5,2nd ODI,INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23,Seddon Park,27 NOV 2022,7:00 AM IST
6,3rd ODI,INDIA TOUR OF NEW ZEALAND ODI SERIES 2022-23,Hagley Oval,30 NOV 2022,7:00 AM IST
7,1st ODI,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,"Shere Bangla National Stadium, Mirpur",4 DEC 2022,12:30 PM IST
8,2nd ODI,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,"Shere Bangla National Stadium, Mirpur",7 DEC 2022,12:30 PM IST
9,3rd ODI,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,"Shere Bangla National Stadium, Mirpur",10 DEC 2022,12:30 PM IST
10,1st Test,INDIA TOUR OF BANGLADESH TEST SERIES 2022-23,Zahur Ahmed Chowdhury Stadium,14 DEC 2022,9:30 AM IST
11,2nd Test,INDIA TOUR OF BANGLADESH TEST SERIES 2022-23,"Shere Bangla National Stadium, Mirpur",22 DEC 2022,9:30 AM IST

<b>3. Scrape the details of selenium exception from guru99.com.     
Url = https://www.guru99.com/     
You need to find following details:     
A) Name     
B) Description       
Note: - From guru99 home page you have to reach to selenium exception handling page through code.</b>

In [24]:
# Let's first connect to the driver

driver = webdriver.Chrome(r"C:\Users\safiy\Downloads\chromedriver_win32 (2)\chromedriver.exe")
driver.maximize_window()
time.sleep(2)

In [25]:
# Opening guru99 website on automated chrome browser

driver.get("https://www.guru99.com/")

In [26]:
# Clicking on Selenium tab

driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a").click()

In [27]:
# Clicking on Selenium Exception Handling

driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a/strong").click()

In [28]:
# Creating empty lists

Name = []
Description = []

In [29]:
# Scraping Name

Name_tag = driver.find_elements(By.XPATH,'//strong')

for i in Name_tag[2:43]:
    Name.append(i.text[2:-1])

In [30]:
Des = []

Des_tag = driver.find_elements(By.XPATH,'//p')

for i in Des_tag[2:43]:
    Des.append(i.text.split())

In [31]:
Desc = []

for i in Des:
    Desc.append(",".join(i[2:]))


for i in Desc:
    Description.append(i.replace(","," "))

In [32]:
# Creating dataframe for scraped data

Selenium_Exception = pd.DataFrame()
Selenium_Exception['Name'] = Name
Selenium_Exception['Description'] = Description[0:56]
Selenium_Exception

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,. WebDriverException,This Exception takes place when the WebDriver ...
10,. ConnectionClosedException,This type of Exception takes place when there ...
11,. ElementClickInterceptedException,The command may not be completed as the elemen...
12,. ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,. ErrorInResponseException,This happens while interacting with the Firefo...
14,. ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,. ImeActivationFailedException,This expectation will occur when IME engine ac...
16,. ImeNotAvailableException,It takes place when IME support is unavailable.
17,. InsecureCertificateException,Navigation made the user agent to hit a certif...
18,. InvalidArgumentException,It occurs when an argument does not belong to ...
19,. InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,. InvalidCoordinatesException,This type of Exception matches an interacting ...
21,. InvalidElementStateException,It occurs when command can’t be finished when ...
22,. InvalidSessionIdException,This Exception took place when the given sessi...
23,. InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,. JavascriptException,This issue occurs while executing JavaScript g...
25,. JsonException,It occurs when you afford to get the session w...
26,. NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,. MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,. NoSuchContextException,ContextAware does mobile device testing.
29,. NoSuchCookieException,This Exception occurs when no cookie matching ...
30,. NotFoundException,This Exception is a subclass of WebDriverExcep...
31,. RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,. ScreenshotException,It is not possible to capture a screen.
33,. SessionNotCreatedException,It happens when a new session could not be suc...
34,. UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,. UnexpectedTagNameException,Happens if a support class did not get a web e...
36,. UnhandledAlertException,This expectation occurs when there is an alert...
37,. UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,. UnknownMethodException,This Exception happens when the requested comm...
39,. UnreachableBrowserException,This Exception occurs only when the browser is...
40,. UnsupportedCommandException,This occurs when remote WebDriver doesn’t send...

<b>4. Scrape the details of State-wise GDP of India from statisticstime.com.      
Url = http://statisticstimes.com/   
You have to find following details:     
A) Rank       
B) State      
C) GSDP(18-19)       
D) GSDP(17-18)      
E) Share(2017)       
F) GDP($ billion)        
Note: - From statisticstimes home page you have to reach to economy page through code.</b>

In [33]:
# Let's first connect to the driver

driver = webdriver.Chrome(r"C:\Users\safiy\Downloads\chromedriver_win32 (2)\chromedriver.exe")
driver.maximize_window()
time.sleep(2)

In [34]:
# Opening statisticstime website on automated chrome browser

driver.get("http://statisticstimes.com/")

In [35]:
# Clicking on Economy tab

driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/button').click()

In [36]:
# Clicking on India

driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]").click()

In [38]:
# Clicking on Indian states

driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()

In [39]:
# Creating empty lists

Rank = []
State = []
GSDP_19_20 = []
GSDP_18_19 = []
Share_18_19 = []
GDP_billion = []

In [40]:
# Scraping Rank

Rank_tag = driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")

for i in Rank_tag:
    Rank.append(i.text)

In [41]:
len(Rank)

33

In [42]:
# Scraping State

State_tag = driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")

for i in State_tag:
    State.append(i.text)

In [43]:
len(State)

33

In [44]:
# Scraping GSDP(19-20)

GSDP_19_20_tag = driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")

for i in GSDP_19_20_tag:
    GSDP_19_20.append(i.text)

In [45]:
len(GSDP_19_20)

33

In [46]:
# Scraping GSDP(18-19)

GSDP_18_19_tag = driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")

for i in GSDP_18_19_tag:
    GSDP_18_19.append(i.text)

In [47]:
len(GSDP_18_19)

33

In [48]:
# Scraping Share(18-19)

Share_18_19_tag = driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")

for i in Share_18_19_tag:
    Share_18_19.append(i.text)

In [49]:
len(Share_18_19)

33

In [50]:
# Scraping GDP($ billion)

GDP_billion_tag = driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")

for i in GDP_billion_tag:
    GDP_billion.append(i.text)

In [51]:
len(GDP_billion)

33

In [52]:
# Creating dataframe for scraped data

statisticstimes = pd.DataFrame()
statisticstimes['Rank'] = Rank
statisticstimes['State'] = State
statisticstimes['GSDP-19-20'] = GSDP_19_20
statisticstimes['GSDP-18-19'] = GSDP_18_19
statisticstimes['Share-18-19'] = Share_18_19
statisticstimes['GDP($ billion)'] = GDP_billion
statisticstimes

,Rank,State,GSDP-19-20,GSDP-18-19,Share-18-19,GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

<b>5. Scrape the details of trending repositories on Github.com.   
Url = https://github.com/     
You have to find the following details:        
A) Repository title      
B) Repository description      
C) Contributors count      
D) Language used      
Note: - From the home page you have to click on the trending option from Explore menu through code.</b>

In [53]:
# Let's first connect to the driver

driver = webdriver.Chrome(r"C:\Users\safiy\Downloads\chromedriver_win32 (2)\chromedriver.exe")
driver.maximize_window()
time.sleep(2)

In [54]:
# Opening Github on automated chrome browser

driver.get("https://github.com/")

In [55]:
# Clicking on Open Source tab

driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/button").click()

In [56]:
# Clicking on Trending

driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a").click()

In [57]:
# Creating empty lists

Repository_title = []
Repository_description = []
Contributors_count = []
Language_used = []

In [58]:
# Scraping Repository title

Repository_title_tag = driver.find_elements(By.XPATH,"//h1[@class='h3 lh-condensed']")

for i in Repository_title_tag:
    Repository_title.append(i.text)

In [59]:
# Scraping Repository description

Repository_description_tag = driver.find_elements(By.XPATH,"//p[@class='col-9 color-fg-muted my-1 pr-4']")

for i in Repository_description_tag:
    Repository_description.append(i.text)

In [60]:
# Scraping Contributors count

Contributors_count_tag = driver.find_elements(By.XPATH,"//a[@class='Link--muted d-inline-block mr-3']")

for i in Contributors_count_tag:
    Contributors_count.append(i.text)

In [61]:
# Scraping Language used


Language_used_tag = driver.find_elements(By.XPATH,"//span[@class='d-inline-block ml-0 mr-3']")

for i in Language_used_tag:
    Language_used.append(i.text)

In [62]:
Github=pd.DataFrame()
Github['Repository title'] = Repository_title[0:23]
Github['Repository description'] = Repository_description[0:23]
Github['Contributors count'] = Contributors_count[0:23]
Github['Language used'] = Language_used[0:23]
Github

,Repository title,Repository description,Contributors count,Language used
0,stashapp / stash,"An organizer for your porn, written in Go","3,366",Go
1,mastodon / mastodon,"Your self-hosted, globally interconnected micr...",394,Ruby
2,geohot / tinygrad,You like pytorch? You like micrograd? You love...,"31,900",Python
3,microsoft / PowerToys,Windows system utilities to maximize productivity,"4,860",C#
4,alibaba / higress,Next-generation Cloud Native Gateway,"8,050",C++
5,NationalSecurityAgency / ghidra,Ghidra is a software reverse engineering (SRE)...,760,Java
6,jwasham / coding-interview-university,A complete computer science study plan to beco...,"81,143",Python
7,huggingface / diffusion-models-class,Materials for the Hugging Face Diffusion Model...,"4,636",Rust
8,tiangolo / typer,"Typer, build great CLIs. Easy to code. Based o...",170,Java
9,spacedriveapp / spacedrive,Spacedrive is an open source cross-platform fi...,28,JavaScript
10,Netflix / conductor,Conductor is a microservices orchestration eng...,"35,706",Shell
11,Budibase / budibase,"Low code platform for creating internal tools,...","4,543",Markdown
12,LSPosed / MagiskOnWSALocal,The content behind MDN Web Docs,"238,132",TypeScript
13,mdn / content,Projeto desenvolvido durante a Next Level Week...,"63,689",Shell
14,rocketseat-education / nlw-copa-ignite,A black hole for Internet advertisements,140,Go
15,pi-hole / pi-hole,"✅ Solutions to LeetCode by Go, 100% test cover...",6,Java
16,halfrost / LeetCode-Go,EhViewer overhauled with Material Design 3 and...,"9,201",C++
17,Ehviewer-Overhauled / Ehviewer,Windows Package Manager CLI (aka winget),373,Python
18,microsoft / winget-cli,openpilot is an open source driver assistance ...,"15,094",TypeScript
19,commaai / openpilot,立党老师的润学（零基础转码/移民/留学/海外创业/永居）笔记,402,Python
20,lidangzzz / How-to-run,🏡 Open source home automation that puts local ...,"5,615",C
21,home-assistant / core,🐍🎮 pygame (the library) is a Free and Open Sou...,"1,435",Shell
22,pygame / pygame,Pi-hole in a docker container,"15,806",Rust

In [63]:
driver.close()

<b>6. Scrape the details of top 100 songs on billboard.com.     
Url = https:/www.billboard.com/             
You have to find the following details:         
A) Song name        
B) Artist name             
C) Last week rank          
D) Peak rank          
E) Weeks on board       
Note: - From the home page you have to click on the charts option then hot 100-page link through code.</b>

In [64]:
# Let's first connect to the driver

driver = webdriver.Chrome(r"C:\Users\safiy\Downloads\chromedriver_win32 (2)\chromedriver.exe")
driver.maximize_window()
time.sleep(2)

In [65]:
# Opening the billboard website on automated chrome browser

driver.get("https://www.billboard.com/")

In [66]:
# Clicking the hot 100 songs tab

driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a").click()

In [67]:
# Creating empty lists

Song_Name = []
Artist_Name = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [68]:
# Scraping Song Name

Song_Name_1 = driver.find_elements(By.XPATH,"//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet']")

for i in Song_Name_1:
    Song_Name.append(i.text)
    
    
    
Song_Name_all = driver.find_elements(By.XPATH,"//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")

for i in Song_Name_all:
    Song_Name.append(i.text)

In [69]:
# Scraping Artist Name

Artist_1 = driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']")

for i in Artist_1:
    Artist_Name.append(i.text)
    
    
Artist_all = driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
    
for i in Artist_all:    
    Artist_Name.append(i.text)

In [70]:
# Scraping Last week rank, Peak rank and Weeks on board

week = []
week_data = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]')
for i in week_data:
    week.append((i.text).replace("\n"," ").split())

for i in week:
    Last_week_rank.append(i[-3])
    Peak_rank.append(i[-2])
    Weeks_on_board.append(i[-1])

In [71]:
# Creating dataframe for scraped data

billboard = pd.DataFrame({})
billboard['Song Name'] = Song_Name[:100]
billboard['Artist Name'] = Artist_Name[:100]
billboard['Last week rank'] = Last_week_rank[:100]
billboard['Peak rank'] = Peak_rank[0:100]
billboard['Weeks on board'] = Weeks_on_board[0:100]
billboard

,Song Name,Artist Name,Last week rank,Peak rank,Weeks on board
0,Anti-Hero,Taylor Swift,-,1,1
1,Lavender Haze,Taylor Swift,-,2,1
2,Maroon,Taylor Swift,-,3,1
3,Snow On The Beach,Taylor Swift Featuring Lana Del Rey,-,4,1
4,Midnight Rain,Taylor Swift,-,5,1
...,...,...,...,...,...
95,Dark Red,Steve Lacy,-,78,5
96,From Now On,Lil Baby Featuring Future,42,42,2
97,Forget Me,Lewis Capaldi,99,95,4
98,Miss You,Oliver Tree & Robin Schulz,-,99,1
99,Despecha,Rosalia,92,63,12

In [72]:
driver.close()

<b>7. Scrape the details of Data science recruiters from naukri.com.      
Url = https://www.naukri.com/            
You have to find the following details:           
A) Name       
B) Designation          
C) Company        
D) Skills they hire for        
E) Location         
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code.</b>

In [73]:
# Let's first connect to the driver

driver = webdriver.Chrome(r"C:\Users\safiy\Downloads\chromedriver_win32 (2)\chromedriver.exe")
driver.maximize_window()
time.sleep(2)

In [74]:
# Opening the naukri website on automated chrome browser

driver.get("https://www.naukri.com/")

In [75]:
# Clicking the Sitemap tab

driver.find_element(By.XPATH,"/html/body/div[1]/footer/section[1]/div/div/div[2]/ul/li[4]/a").click()

In [76]:
# Clicking the Recruiters tab

driver.find_element(By.XPATH,"/html/body/div[1]/div/ul/li[2]/a/div").click()

In [77]:
# Typing Data Science on the search pane and clicking on search

from selenium.common.exceptions import ElementNotInteractableException  

try:
    skills = driver.find_element(By.XPATH,'//input[@class="sugInp"]')
    skills.send_keys("Data science")
    
except ElementNotInteractableException  as e:
    print("Exception Raised:\n",e)
    
    parent = driver.current_window_handle
    child = driver.window_handles
    
    for i in child:
        if(i!=parent):
            driver.switch_to.window(i)
    print("\nException handled successfully")

Exception Raised:
 Message: element not interactable
  (Session info: chrome=107.0.5304.88)
Stacktrace:
Backtrace:
	Ordinal0 [0x0075ACD3+2075859]
	Ordinal0 [0x006EEE61+1633889]
	Ordinal0 [0x005EB680+571008]
	Ordinal0 [0x0061647E+746622]
	Ordinal0 [0x00615B5A+744282]
	Ordinal0 [0x0063731C+881436]
	Ordinal0 [0x006115BF+726463]
	Ordinal0 [0x00637534+881972]
	Ordinal0 [0x0064B56A+963946]
	Ordinal0 [0x00637136+880950]
	Ordinal0 [0x0060FEFD+720637]
	Ordinal0 [0x00610F3F+724799]
	GetHandleVerifier [0x00A0EED2+2769538]
	GetHandleVerifier [0x00A00D95+2711877]
	GetHandleVerifier [0x007EA03A+521194]
	GetHandleVerifier [0x007E8DA0+516432]
	Ordinal0 [0x006F682C+1665068]
	Ordinal0 [0x006FB128+1683752]
	Ordinal0 [0x006FB215+1683989]
	Ordinal0 [0x00706484+1729668]
	BaseThreadInitThunk [0x76096739+25]
	RtlGetFullPathName_UEx [0x77398FD2+1218]
	RtlGetFullPathName_UEx [0x77398F9D+1165]


Exception handled successfully

In [78]:
skills = driver.find_element(By.XPATH,'//input[@class="sugInp"]')
skills.send_keys("Data science")

search = driver.find_element(By.XPATH,'//button[@class="fl qsbSrch blueBtn"]')
search.click()

In [79]:
# Creating empty lists

Name = []
Designation = []
Company = []
Skills_they_hire_for = []
Location = []

In [80]:
# Scraping Name

for i in driver.find_elements(By.XPATH,"//span[@class='fl ellipsis']"):
    Name.append(i.text)

In [81]:
# Scraping Designation

for i in driver.find_elements(By.XPATH,"//span[@class='ellipsis clr']"):
    Designation.append(i.text)

In [82]:
# Scraping Company

for i in driver.find_elements(By.XPATH,"//p[@class='highlightable']/a[2]"):
    Company.append(i.text)

In [83]:
# Scraping Skills they hire for

for i in driver.find_elements(By.XPATH,"//div[@class='hireSec highlightable']"):
    Skills_they_hire_for.append(i.text)

In [84]:
# Scraping Location

from selenium.common.exceptions import NoSuchElementException

for i in range(1,len(Skills_they_hire_for)+1):
    if len(Location)!=len(Skills_they_hire_for):
        try:
            if (i%2)==0:
                Loc = driver.find_element(By.XPATH,f'/html/body/div[3]/div/div[2]/div/div[2]/div[{i}]/div[1]/div[1]/div[1]/p/span[2]/small')
                Location.append(Loc.text)
                
                Loc = driver.find_element(By.XPATH,f'/html/body/div[3]/div/div[2]/div/div[2]/div[{i}]/div[2]/div[1]/div[1]/p/span[2]/small')
                Location.append(Loc.text)
            
            else:
                Loc = driver.find_element(By.XPATH,f'/html/body/div[3]/div/div[2]/div/div[2]/div[{i}]/div[1]/div[1]/div[1]/p/span[2]/small')
                Location.append(Loc.text)
                
                Loc = driver.find_element(By.XPATH,f'/html/body/div[3]/div/div[2]/div/div[2]/div[{i}]/div[2]/div[1]/div[1]/p/span[2]/small')
                Location.append(Loc.text)
        
        except NoSuchElementException as e:
            print("Exception Raised:\n",e)
            Location.append("-")
            print("\nException handled successfully")

Exception Raised:
 Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[3]/div/div[2]/div/div[2]/div[15]/div[2]/div[1]/div[1]/p/span[2]/small"}
  (Session info: chrome=107.0.5304.88)
Stacktrace:
Backtrace:
	Ordinal0 [0x0075ACD3+2075859]
	Ordinal0 [0x006EEE61+1633889]
	Ordinal0 [0x005EB7BD+571325]
	Ordinal0 [0x0061AC2F+764975]
	Ordinal0 [0x0061AE1B+765467]
	Ordinal0 [0x0064D0F2+970994]
	Ordinal0 [0x00637364+881508]
	Ordinal0 [0x0064B56A+963946]
	Ordinal0 [0x00637136+880950]
	Ordinal0 [0x0060FEFD+720637]
	Ordinal0 [0x00610F3F+724799]
	GetHandleVerifier [0x00A0EED2+2769538]
	GetHandleVerifier [0x00A00D95+2711877]
	GetHandleVerifier [0x007EA03A+521194]
	GetHandleVerifier [0x007E8DA0+516432]
	Ordinal0 [0x006F682C+1665068]
	Ordinal0 [0x006FB128+1683752]
	Ordinal0 [0x006FB215+1683989]
	Ordinal0 [0x00706484+1729668]
	BaseThreadInitThunk [0x76096739+25]
	RtlGetFullPathName_UEx [0x77398FD2+1218]
	RtlGetFullPathName_UEx [0x77398F9D+1165]


Exception handled successfully
Exception Raised:
 Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[3]/div/div[2]/div/div[2]/div[25]/div[1]/div[1]/div[1]/p/span[2]/small"}
  (Session info: chrome=107.0.5304.88)
Stacktrace:
Backtrace:
	Ordinal0 [0x0075ACD3+2075859]
	Ordinal0 [0x006EEE61+1633889]
	Ordinal0 [0x005EB7BD+571325]
	Ordinal0 [0x0061AC2F+764975]
	Ordinal0 [0x0061AE1B+765467]
	Ordinal0 [0x0064D0F2+970994]
	Ordinal0 [0x00637364+881508]
	Ordinal0 [0x0064B56A+963946]
	Ordinal0 [0x00637136+880950]
	Ordinal0 [0x0060FEFD+720637]
	Ordinal0 [0x00610F3F+724799]
	GetHandleVerifier [0x00A0EED2+2769538]
	GetHandleVerifier [0x00A00D95+2711877]
	GetHandleVerifier [0x007EA03A+521194]
	GetHandleVerifier [0x007E8DA0+516432]
	Ordinal0 [0x006F682C+1665068]
	Ordinal0 [0x006FB128+1683752]
	Ordinal0 [0x006FB215+1683989]
	Ordinal0 [0x00706484+1729668]
	BaseThreadInitThunk [0x76096739+25]
	RtlGetFullPathName_UEx [0x77398FD2+1218]
	RtlGetFullPathName_UEx [0x77398F9D+1165]


Exception handled successfully
Exception Raised:
 Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[3]/div/div[2]/div/div[2]/div[26]/div[1]/div[1]/div[1]/p/span[2]/small"}
  (Session info: chrome=107.0.5304.88)
Stacktrace:
Backtrace:
	Ordinal0 [0x0075ACD3+2075859]
	Ordinal0 [0x006EEE61+1633889]
	Ordinal0 [0x005EB7BD+571325]
	Ordinal0 [0x0061AC2F+764975]
	Ordinal0 [0x0061AE1B+765467]
	Ordinal0 [0x0064D0F2+970994]
	Ordinal0 [0x00637364+881508]
	Ordinal0 [0x0064B56A+963946]
	Ordinal0 [0x00637136+880950]
	Ordinal0 [0x0060FEFD+720637]
	Ordinal0 [0x00610F3F+724799]
	GetHandleVerifier [0x00A0EED2+2769538]
	GetHandleVerifier [0x00A00D95+2711877]
	GetHandleVerifier [0x007EA03A+521194]
	GetHandleVerifier [0x007E8DA0+516432]
	Ordinal0 [0x006F682C+1665068]
	Ordinal0 [0x006FB128+1683752]
	Ordinal0 [0x006FB215+1683989]
	Ordinal0 [0x00706484+1729668]
	BaseThreadInitThunk [0x76096739+25]
	RtlGetFullPathName_UEx [0x77398FD2+1218]
	RtlGetFullPathName_UEx [0x77398F9D+1165]


Exception handled successfully

In [85]:
# Creating dataframe for scraped data

amazon = pd.DataFrame()
amazon['Name'] = Name
amazon['Designation'] = Designation
amazon['Company'] = Company
amazon['Skills_they_hire_for'] = Skills_they_hire_for
amazon['Location'] = Location
amazon

,Name,Designation,Company,Skills_they_hire_for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
14,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
15,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",-
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
33,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
34,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
48,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",-
49,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",-

<b>8. Scrape the details of Highest selling novels.    
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-/compare/       
You have to find the following details:       
A) Book name       
B) Author name        
C) Volumes sold        
D) Publisher        
E) Genre</b>

In [86]:
# Let's first connect to the driver

driver = webdriver.Chrome(r"C:\Users\safiy\Downloads\chromedriver_win32 (2)\chromedriver.exe")
driver.maximize_window()
time.sleep(2)

In [87]:
# Opening the guardian website on automated chrome browser

driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [88]:
# Creating empty lists

Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []

In [89]:
# Scraping Book name


Book_name_tag = driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[2]")

for i in Book_name_tag:
    Book_name.append(i.text)

In [90]:
# Scraping Author name

Author_name_tag = driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[3]")

for i in Author_name_tag:
    Author_name.append(i.text)

In [91]:
# Scraping volumes sold

Volumes_sold_tag = driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[3]")

for i in Volumes_sold_tag:
    Volumes_sold.append(i.text)

In [92]:
# Scraping Publisher

Publisher_tag = driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[5]")

for i in Publisher_tag:
    Publisher.append(i.text)

In [93]:
# Scraping Genre

Genre_tag = driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[6]")

for i in Genre_tag:
    Genre.append(i.text)

In [94]:
# Creating dataframe for scraped data

Novels = pd.DataFrame()
Novels['Book name'] = Book_name
Novels['Author name'] = Author_name
Novels['Volumes sold'] = Volumes_sold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","Brown, Dan",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","Rowling, J.K.",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","Rowling, J.K.",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","Rowling, J.K.",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","James, E. L.",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","Harris, Robert",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","Oliver, Jamie",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","Collins, Suzanne",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","Pelzer, Dave",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","Oliver, Jamie",Penguin,Food & Drink: General

<b>9. Scrape the details most watched tv series of all time from imdb.com.        
Url = https://www.imdb.com/list/ls095964455/      
You have to find the following details:       
A) Name      
B) Year span      
C) Genre      
D) Run time         
E) Ratings        
F) Votes</b>

In [95]:
# Let's first connect to the driver

driver = webdriver.Chrome(r"C:\Users\safiy\Downloads\chromedriver_win32 (2)\chromedriver.exe")
driver.maximize_window()
time.sleep(2)

In [96]:
# Opening imdb website on automated chrome browser

driver.get("https://www.imdb.com/list/ls095964455/")

In [97]:
# Creating empty lists

Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [98]:
# Scraping Name

Name_tag = driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")

for i in Name_tag:
    Name.append(i.text)

In [99]:
# Scraping Year span

Year_span_tag = driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']")

for i in Year_span_tag:
    Year_span.append(i.text)

In [100]:
# Scraping Genre

Genre_tag = driver.find_elements(By.XPATH,"//span[@class='genre']")

for i in Genre_tag:
    Genre.append(i.text)

In [101]:
# Scraping Run time

Run_time_tag = driver.find_elements(By.XPATH,"//span[@class='runtime']")

for i in Run_time_tag:
    Run_time.append(i.text)

In [102]:
# Scraping Ratings

Ratings_tag = driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']/span[2]")

for i in Ratings_tag:
    Ratings.append(i.text)

In [103]:
# Scraping Votes

Votes_tag = driver.find_elements(By.XPATH,"//span[@name='nv']")

for i in Votes_tag:
    Votes.append(i.text)

In [104]:
# Creating dataframe for scraped data

IMDB = pd.DataFrame({})
IMDB['Name'] = Name
IMDB['Year span'] = Year_span
IMDB['Genre'] = Genre
IMDB['Run time'] = Run_time
IMDB['Ratings'] = Ratings
IMDB['Votes'] = Votes
IMDB

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,078,524"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,168,805"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"979,416"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"291,543"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"250,600"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,970"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"61,102"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"196,618"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,424"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"242,781"

<b>10. Details of Datasets from UCI machine learning repositories.       
Url = https://archive.ics.uci.edu/         
You have to find the following details:      
A) Dataset name       
B) Data type         
C) Task         
D) Attribute type       
E) No of instances         
F) No of attribute          
G) Year       
Note: - from the home page you have to go to the ShowAllDataset page through code.</b>

In [105]:
# Let's first connect to the driver

driver = webdriver.Chrome(r"C:\Users\safiy\Downloads\chromedriver_win32 (2)\chromedriver.exe")
driver.maximize_window()
time.sleep(2)

In [106]:
# Opening the UCI machine learning repositories website on automated chrome browser

driver.get("https://archive.ics.uci.edu/")

In [107]:
# Clicking on View ALL Data Sets

driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b").click()

In [108]:
# Creating empty lists

Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attribute = []
Year = []

In [109]:
# Scraping Dataset_name

try:
    Dataset_name_tag = driver.find_elements(By.XPATH,"//p[@class='normal']/b/a")
    for i in Dataset_name_tag:
        Dataset_name.append(i.text)

except NoSuchElementException:           
    Dataset_name.append('-')

In [110]:
# Scraping Data_type

Data_type_tag = driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")

for i in Data_type_tag[1:]:
    Data_type.append(i.text)

In [111]:
# Scraping Task

Task_tag = driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")

for i in Task_tag[1:]:
    Task.append(i.text)

In [112]:
# Scraping Attribute type

Attribute_type_tag = driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")

for i in Attribute_type_tag[1:]:
    Attribute_type.append(i.text)

In [113]:
# Scraping No of instances

No_of_instances_tag = driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")

for i in No_of_instances_tag[1:]:
    No_of_instances.append(i.text)

In [114]:
# Scraping No of attribute

No_of_attribute_tag = driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")

for i in No_of_attribute_tag[1:]:
    No_of_attribute.append(i.text)

In [115]:
# Scraping Year

Year_tag = driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")

for i in Year_tag[1:]:
    Year.append(i.text)

In [116]:
# Creating dataframe for scraped data

UCI = pd.DataFrame()
UCI['Data Name'] = Dataset_name
UCI['Data Type'] = Data_type
UCI['Task'] = Task
UCI['Attribute type'] = Attribute_type
UCI['No of instances'] = No_of_instances
UCI['No of attribute'] = No_of_attribute
UCI['Year'] = Year
UCI

,Data Name,Data Type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021